body {
  background-image: url('../images/plant\ background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
}
/* src/App.css */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* src/App.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes buttonHover {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.1);
    opacity: 1;
  }
}

.animated-button {
  margin-left: 40px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #282b28;
  color: white;
  cursor: pointer;
  opacity: 0; /* Başlangıçta buton görünmez */
  animation: fadeIn 4s forwards; /* Yavaşça belirginleşme */
  transition: transform 0.3s ease-in-out; /* Hover geçişi için */
}

.animated-button:hover {
  animation: buttonHover 0.3s forwards;
}


.animated-text {
  animation: fadeIn 4s ease-in-out;
}

h1{
  color:white;
 margin-top: 200px;
 margin-left: 40px;
}
.btn-secondary btn-lg{
  margin-left: 40px;
}
.animated-button-plant{
  height: 100px;
  margin-left: 40px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #282b28;
  color: white;
  cursor: pointer;
  opacity: 0; /* Başlangıçta buton görünmez */
  animation: fadeIn 4s forwards; /* Yavaşça belirginleşme */
  transition: transform 0.3s ease-in-out; /* Hover geçişi için */
}
.animated-button-plant:hover {
  animation: buttonHover 0.3s forwards;
}